/* fonts */
/* poppins font */
@font-face {
    font-family: 'poppins';
    src: url('poppins.ttf');
}
/* antipasto font */
@font-face {
    font-family: 'antipasto';
    src: url('antipasto.ttf');
}


h1 {
    text-align: center;
    margin-top: 75px;
    font-family: poppins;
    font-size: 60px;
    color: white;
}

p {
    text-align: center;
    font-family: antipasto;
    margin-top: 80px;
    font-size: 25px;
    color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #252525
}
