/* fonts */
/* poppins font */
@font-face {
    font-family: 'poppins';
    src: url('poppins.ttf');
}
/* antipasto font */
@font-face {
    font-family: 'antipasto';
    src: url('antipasto.ttf');
}


h1 {
    text-align: center;
    margin-top: 75px;
    font-family: poppins;
    font-size: 60px;
}

p {
    text-align: center;
    font-family: antipasto;
    margin-top: 80px;
    font-size: 25px;
}

p.link {
    font-size: 20px;
    margin-top: 550px;
    color: red;
}
