<!DOCTYPE html>
<!--
  eColi: Ziyad H, Naf M, Chloe W, Jayden Z
  SoftDev
  P01: Spanish Studying Service
  2024-12-17
  Time Spent:
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spanish Learning Service</title>
    <!-- css linkage here <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
</head>
<body>

    <h1>Spanish Learning Service</h1>

    Welcome {{ name }} to Spanish Studying Service! This is a website that aims to hone in your spanish skills as a new or returning learner. Learn from lessons, take randomized tests, and soar to new levels of learning a different language!

</br>
    <a href="{{ url_for('login') }}">Login</a>
</br>
    <a href="{{ url_for('signup') }}">Register</a>
<br>
    <form action="/logout" method="POST">
        <input type="submit" name="Logout" value="Logout">
    </form>
</body>
