<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spanish Studying Service | Login</title>
        <!-- css styling 4 later <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> -->
    </head>
    <body>

        <h1>Welcome back!</h1>

        <!-- Display flash messages consistently at the top of the form -->
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages">
              {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %} -->

        <form method="POST" action="{{ url_for('home') }}">
			<label for="username">Username</label>
        </br>
			<input type="text" id="username" name="username" placeholder="your unforgettable username" required>
        </br>
        </br>
			<label for="password">Password</label>
        </br>
			<input type="password" id="password" name="password" placeholder="your password" required><br>
        </br>
			<button type="submit">Login</button>
		</form>

        <p>New? <a href="{{ url_for('register') }}">Create an account</a></p>

    </body>
</html>
